<!-- 
<ul class='heroes' >
    <li *ngFor='let hero of heroes' 
    (click)="onSelect(hero)"
    [class.selected]="hero === selectedHero"
    >
        <span class='badge'>{{hero.id}}</span> {{hero.name}}
    </li>
     <input id="name" [(ngModel)]="hero.name" placeholder="name"> -->
<!-- </ul>  -->

<!-- This is just to show the selected hero is updated in the models -->
<!-- <app-hero-detail [hero]="selectedHero" ></app-hero-detail> -->


<ul class='heroes' >
    <li *ngFor='let hero of heroes' >
        <a routerLink="/detail/{{hero.id}}">
            <span class="badge">{{hero.id}}</span>{{hero.name}}
        </a>
    </li>
    <!-- <input id="name" [(ngModel)]="hero.name" placeholder="name"> -->
</ul>
